{% extends 'DGPlusbelleBundle:Layout:general.html.twig' %}

{% block contenido -%}
    <h1>Modificar categoria</h1>
    
  <div class="panel-body">
<div class="row">
         <div class="col-xs-12 col-sm-12">
             <div class="modal-footer">
                 <center> {{ form(edit_form) }}<a href="{{ path('admin_categoria') }}" class="btn btn-default">Regresar al listado</a>{{ form(delete_form) }} </center>
              </div>
            
          </div>
    </div>

</div>    
{% endblock %}
