{% extends 'DGPlusbelleBundle:Layout:general.html.twig' %}  

{% block contenido -%}
    <h1>Citas</h1>
        {% include 'DGPlusbelleBundle:Default:calendar.html.twig' %}            
    {% endblock %}
