{% extends 'DGPlusbelleBundle:Layout:general.html.twig' %}  

{% block contenido -%}
    
    <div class="col-md-6">
        {% include 'DGPlusbelleBundle:Default:calendar.html.twig' %}            
    </div>
        
    {% endblock %}
