{% extends 'DGPlusbelleBundle:Layout:layout.html.twig' %}  

{% block contenido -%}
    <div class="col-md-1">
        Sucursales
    </div>
    <div class="col-md-4">
        <select id="filtroSucursales">
            
            {% for sucursal in sucursales %}
                <option value="{{sucursal.id}}"> {{sucursal.nombre}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12">
        {% include 'DGPlusbelleBundle:Default:calendar.html.twig' %}            
    </div>
        
{% endblock %}


{% block javascripts_step %}

    <script>
        $(document).ready(function(){

            

        });
    
    </script>
    
{% endblock %}