{% extends 'DGPlusbelleBundle:Layout:layout.html.twig' %}  

{% block contenido -%}
    
    <div class="col-md-12">
        {% include 'DGPlusbelleBundle:Default:calendar.html.twig' %}            
    </div>
        
{% endblock %}
