/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-20-2016, 12:26:36 PM
    Author     : Digitality 5
*/

        //Posicion del boton agregar#}
        .placas>div:last-child {
            position:absolute;
        }
        
        div.placas > div:nth-child(2) > div:nth-child(2) > a{
            display: none;
        }
        
        //Posicion del boton agregar#}
        .placas2>div:last-child {
            position:absolute;
        }
        
        div.placas2 > div:nth-child(2) > div:nth-child(2) > a{
            display: none;
        }
        
        .addItem{
            position: absolute;
            height: 50px;
            float: right;
            margin-bottom: 50px;
            padding-bottom: 100px;
            top: -65px;
            left: -2px;
        }
        
        .addItemEst{
            position: absolute;
            height: 50px;
            float: right;
            margin-bottom: 50px;
            padding-bottom: 100px;
            top: 82px;
            left: 5px;
        }
        
        .addItem div {
            position: absolute;
        }
        
        .editorVacuna{
            width:100%;
        }
        
        .deleteVacuna{
            cursor:pointer;
        }
        
        .editorArea{
            height: 150px !important;
        }
        
        .col-md-4{
            padding-top: 40px;
        }
        
        #dgplusbellebundle_consulta_horaInicio_hourSelectBoxItContainer, #dgplusbellebundle_consulta_horaInicio_minuteSelectBoxItContainer,
        #dgplusbellebundle_consulta_horaFin_hourSelectBoxItContainer, #dgplusbellebundle_consulta_horaFin_minuteSelectBoxItContainer{
            width:75px;
        }
        
        #dgplusbellebundle_consulta_horaInicio_hourSelectBoxItContainer,#dgplusbellebundle_consulta_horaFin_hourSelectBoxItContainer {
            float: left;
        }
        
        #dgplusbellebundle_consulta_horaInicio_minuteSelectBoxItContainer, #dgplusbellebundle_consulta_horaFin_minuteSelectBoxItContainer {
            float: right;
        }
        
        #dgplusbellebundle_consulta_horaInicio, #dgplusbellebundle_consulta_horaFin{
            width: 155px;
        }
        
        

        .productoConsulta{width: 50% }
        
        textarea{
            height:100px;
            resize:none;
        }

        .campos{
            width: 100%;
        }
