{% extends "DGPlusbelleBundle:Layout:calendar.html.twig" %}

{% block bodycontenido -%}
    <style>
        .modal-footer{
            border-top:none;
        }
    </style>
    
{% include 'ADesignsCalendarBundle::calendar.html.twig' %}
{% endblock %}


{% block jquery -%}
<script type="text/javascript">     
var calendario = null;
sucursal = $('#filtroSucursales').val();
var source = 
    {
        url: Routing.generate('fullcalendar_loader')+'?sucursal='+sucursal,
        type: 'POST',
        data: {
            filtro: 1
        },
        error: function() {
            bootbox.alert('Se produjo un error al recuperar los datos del calendario, recargue la página!');
        }
        
    };
/*var sourceSuc = 
    {
        url: Routing.generate('fullcalendar_loader_suc'),
        type: 'POST',
        data: {
            filtro: 1
        },
        error: function() {
            bootbox.alert('Se produjo un error al recuperar los datos del calendario, recargue la página!');
        }
        
    };
  */  
$(document).ready(function() {        
    // page is now ready, initialize the calendar...
    //var horaInicial=null;
    $('#filtroSucursales').selectBoxIt();
    var sucursal = $('#filtroSucursales').val();
    var fecha=null;
    //$('#filtroSucursales').change();
    //alert(hoy);
    calendario = $('#calendar-holder').fullCalendar({
        
        header: {
            left: 'prev,next, today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        buttonText: {
            today:    'Hoy',
            month:    'Mes',
            week:     'Semana',
            day:      'Día'
        },
        default: "es",
        monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
        monthNamesShort: ['Ene','Feb','Mar','Abr','May','Jun','Jul','Ago','Sep','Oct','Nov','Dic'],
        dayNames: ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sábado'],
        dayNamesShort: ['Dom','Lun','Mar','Mié','Jue','Vie','Sáb'],
        lazyFetching: true,
        defaultView: 'agendaDay',
        editable: true,
        disableResizing:true,
        eventDurationEditable:false,
        weekends: true,
        weekNumbers: true,
        firstDay: 0,
        slotMinutes: 30,
        axisFormat: 'hh:mm tt',
        firstHour: 6,
        //displayEventTime: false,
        timeFormat: '',
        
        minTime: '06:00:00',
        maxTime: '23:00:00',
        allDaySlot: false,
        selectable: true,
        selectHelper: true,
        slotEventOverlap:false,
        select: function( startDate, endDate, allDay, jsEvent, view ){
            var stdate = $.fullCalendar.formatDate(startDate,'dd-MM-yyyy');
            var endate = $.fullCalendar.formatDate(endDate,'dd-MM-yyyy');
            var starttm = $.fullCalendar.formatDate(startDate,'HH:mm');
            var endtm = $.fullCalendar.formatDate(endDate,'HH:mm');
            var day = $.fullCalendar.formatDate(startDate,'dddd'); 
            var element = $(jsEvent.srcElement);
            //fecha=$.fullCalendar.formatDate(startDate,'dd-MM-yyyy');
            //alert(fecha);
            
        },
        eventDrop: function( startDate, event, dayDelta, minuteDelta, allDay, revertFunc, jsEvent, ui, view ) { 
            var stdate = $.fullCalendar.formatDate(event.start,'dd-MM-yyyy');
            var endate = $.fullCalendar.formatDate(event.end,'dd-MM-yyyy');
            var starttm = $.fullCalendar.formatDate(event.start,'HH:mm');
            var endtm = $.fullCalendar.formatDate(event.end,'HH:mm');    
            var err = 0;
            
            var date = startDate.start;
            //alert(date);
            //return false;
            var id=startDate.id;
            $.getJSON(Routing.generate('get_nuevaHora', { id: id, delta:dayDelta, fecha:date}), 
                function(data) {
                    //alert(data.regs);
                    switch(data.regs){
                        
                        case 0:
                            //Cita reprogramada con éxito
                            //err=0;
                            var mensaje = "";
                            mensaje += "<div class='row'><div class='col-md-12'><b><p class='text-left'>Actualización exitosa</p></b></div></div>";
                            mensaje += "<div class='row'><hr></div>";
                            mensaje += "<div class='row'><div class='col-md-12'>Cita reprogramada exitosamente</div></div>"
                            bootbox.alert(mensaje, function() {
                                
                            });
                            break;
                       case 1:
                            //Cita no puede ser reprogramada por el estado, asistida o cancelada
                            var mensaje = "";
                            mensaje += "<div class='row'><div class='col-md-12'><b><p class='text-left'>Error...</p></b></div></div>";
                            mensaje += "<div class='row'><hr></div>";
                            mensaje += "<div class='row'><div class='col-md-12'>Esta cita no puede ser reprogramada</div></div>"
                            bootbox.alert(mensaje, function() {
                                
                            });
                            allDay();
                            break;
                        case 2:
                            //Conflicto con otra cita
                            //jsEvent.revertFunc();
                            //alert("cupo no disponible");
                            //err=2;
                            //Revierte el drag and drop el parametro revertFunc hace la inversión, pero por agregar
                            //el parametro startDate se despleza a allDay
                            var mensaje = "";
                            mensaje += "<div class='row'><div class='col-md-12'><b><p class='text-left'>Error...</p></b></div></div>";
                            mensaje += "<div class='row'><hr></div>";
                            mensaje += "<div class='row'><div class='col-md-12'>Esta cita no puede ser, porque hay otra a la misma hora con el mismo técnico</div></div>"
                            bootbox.alert(mensaje, function() {
                                
                            });
                            allDay();
                            break;
                        case 3:
                            var mensaje = "";
                            mensaje += "<div class='row'><div class='col-md-12'><b><p class='text-left'>Error...</p></b></div></div>";
                            mensaje += "<div class='row'><hr></div>";
                            mensaje += "<div class='row'><div class='col-md-12'>Esta cita no puede ser reprogramada a un día antes de hoy</div></div>"
                            bootbox.alert(mensaje, function() {
                                
                            });
                            allDay();
                            break;
                        case 4:
                            var mensaje = "";
                            mensaje += "<div class='row'><div class='col-md-12'><b><p class='text-left'>Error...</p></b></div></div>";
                            mensaje += "<div class='row'><hr></div>";
                            mensaje += "<div class='row'><div class='col-md-12'>Esta cita no puede ser reprogramada a un hora antes de la actual</div></div>"
                            bootbox.alert(mensaje, function() {
                                
                            });
                            allDay();
                            break;
                    }
                          
                }); 
            //alert(dayDelta);
            //
            
        },
        /*eventResize: function( event, dayDelta, minuteDelta, revertFunc, jsEvent, ui, view ) { 
            var stdate = $.fullCalendar.formatDate(event.start,'dd-MM-yyyy');
            var endate = $.fullCalendar.formatDate(event.end,'dd-MM-yyyy');
            var starttm = $.fullCalendar.formatDate(event.start,'HH:mm');
            var endtm = $.fullCalendar.formatDate(event.end,'HH:mm');    
        },*/
        eventClick: function ( startDate, endDate, event, jsEvent, view )  {
            var hoy = new Date();
            var dd = hoy.getDate();
            var mm = hoy.getMonth()+1; //hoy es 0!
            var yyyy = hoy.getFullYear();
            //alert(view.name);
            if(dd<10) {
                dd='0'+dd
            } 

            if(mm<10) {
                mm='0'+mm
            } 

            //hoy = yyyy+'-'+mm+'-'+dd;
            hoy = dd+'-'+mm+'-'+yyyy;
            //alert('"'+hoy+'"');
            //alert(startDate.id);
            //alert("Información de la citra");
            $.getJSON(Routing.generate('get_infoCita', { id: startDate.id}), 
                function(data) {
                          //alert(data.regs[0].fechaCita["date"].toString());
                          //var dt = data.regs[0].fechaCita;
                          //var hr = data.regs[0].horaInicio;
                          var mensaje = "";
                          mensaje += "<div class='container-fluid'>";
                          //mensaje += "<div class='col-md-12'><hr></div></div>";
                          mensaje += "<div class='col-md-6 text-right'><b>Estado: </b></div><div class='col-md-6'>"+data.regs[0].estado+"</div>";
                          mensaje += "<div class='clearfix'></div>";
                          mensaje += "<div class='col-md-6 text-right'><b>Expediente: </b></div><div class='col-md-6'>"+data.regs[0].numero+"</div>";
                          mensaje += "<div class='clearfix'></div>";
                          mensaje += "<div class='col-md-6 text-right'><b>Nombre del paciente: </b></div><div class='col-md-6'>"+data.regs[0].nombres+" "+data.regs[0].apellidos+"</div>";
                          mensaje += "<div class='clearfix'></div>";
                          mensaje += "<div class='col-md-6 text-right'><b>Doctor del paciente: </b></div><div class='col-md-6'>"+data.regs[0].primerNombreEmp+" "+data.regs[0].primerApellidoEmp+"</div>";
                          mensaje += "<div class='clearfix'></div>";
                          mensaje += "<div class='col-md-6 text-right'><b>Tratamiento: </b></div><div class='col-md-6'>"+data.regs[0].nombreTratamiento+"</div>";
                          mensaje += "<div class='clearfix'></div>";
                          mensaje += "<div class='col-md-6 text-right'><b>Fecha: </b></div><div class='col-md-6'>"+data.regs[0].fechaCita+"</div>";
                          mensaje += "<div class='clearfix'></div>";
                          mensaje += "<div class='col-md-6 text-right'><b>Hora: </b></div><div class='col-md-6'>"+data.regs[0].horaCita+"</div>";
                          mensaje += "<div class='clearfix'></div>";
                          mensaje += "</div>";
                          //alert('"'+data.regs[0].fechaCita+'"');
                          /*if(data.regs[0].fechaCita==hoy){
                              alert('iguales');
                          }*/
                            
                            if(data.regs[0].estado=="Pendiente" && data.regs[0].fechaCita==hoy){
                              bootbox.dialog({
                                message: mensaje,
                                title: "Información de la cita",
                                buttons: {
                                    
                                //if(data.regs[0].estado=="Pendiente"){
                                danger: {
                                        label: "Asistida",
                                        className: "btn-success",
                                        callback: function() {
                                            
                                            var evento = calendario.fullCalendar('clientEvents',startDate.id);
                                            var tituloEvento = "";
                                            var eventoId = 0;
                                            Object.keys(evento).forEach(function (key) {
                                                tituloEvento = evento[key].title;

                                                var subTituloEvento = tituloEvento.split(" | ");
                                                var iconoX = '<div class="fa fa-calendar-check-o"></div> | ';
                                                //console.log(subTituloEvento);
                                                var nuevoTitulo = iconoX+subTituloEvento[1];
                                                evento[key].title = nuevoTitulo;
                                                $.getJSON(Routing.generate('get_asistidaCita', { id: evento[key].id}), 
                                                function(data) {
                                                    var mensaje = "";
                                                    if(data.regs==0){
                                                        mensaje += "<div class='row'><div class='col-md-12'><b><p class='text-left'>Actualización exitosa...</p></b></div></div>";
                                                            mensaje += "<hr>";
                                                            mensaje += "<div class='row'><div class='col-md-12'>¡Cita registrada como asistida satisfactoriamente!</div></div>"
                                                        calendario.fullCalendar('updateEvent', evento);
                                                        bootbox.alert(mensaje, function() {

                                                        });
                                                    }
                                                    else{
                                                        mensaje += "<div class='row'><div class='col-md-12'><b><p class='text-left'>Error...</p></b></div></div>";
                                                            mensaje += "<hr>";
                                                            mensaje += "<div class='row'><div class='col-md-12'>¡La cita no pudo modificarse, intente de nuevo!</div></div>"
                                                        bootbox.alert(mensaje, function() {

                                                        });
                                                    }
                                                });
                                            });
                                            
                                            
                                            //console.log('texto de prueba');
                                            //console.log(evento.backgroundColor);
                                            //console.log( JSON.stringify(evento['backgroundColor']) );
                                            //alert(evento.id);
                                            
                                            
                                            
                                            
                                            
                                            
                                            /*alert(evento.title);
                                            alert(evento.allDay);
                                            alert(evento.start);
                                            
                                            alert(evento.end);
                                            alert(evento.url);
                                            alert(evento.className);
                                            
                                            alert(evento.color);
                                            alert(evento.backgroundColor);
                                            alert(evento.borderColor);
                                            alert(evento.textColor);*/

                                            //calendario.fullCalendar('eventColor','#000');
                                            /*bootbox.alert("uh oh, look out!");*/
                                        }
                                    },
                                //}
                                {#success: {
                                        label: "Asistida",
                                        className: "btn-success",
                                        callback: function() {
                                            alert(startDate.id);
                                        //window.location.href = "../consulta/newconcita?id=C"+data.regs[0].id;
                                            $.getJSON(Routing.generate('get_asistidaCita', { id: startDate.id}), 
                                            function(data) {
                                                var mensaje = "";
                                                    if(data.regs==0){
                                                            mensaje += "<div class='row'><div class='col-md-12'><b><p class='text-left'>Actualización exitosa...</p></b></div></div>";
                                                            mensaje += "<hr>";
                                                            mensaje += "<div class='row'><div class='col-md-12'>¡Cita registrada como asistida satisfactoriamente!</div></div>"
                                                            calendario.fullCalendar('updateEvent', evento);
                                                        }
                                                        else{
                                                            mensaje += "<div class='row'><div class='col-md-12'><b><p class='text-left'>Error...</p></b></div></div>";
                                                            mensaje += "<hr>";
                                                            mensaje += "<div class='row'><div class='col-md-12'>¡La cita no pudo modificarse, intente de nuevo!</div></div>"
                                                        }
                                                    bootbox.alert(mensaje, function() {

                                                    });
                                            });
                                        }
                                    },#}
                                    main: {
                                        label: "Aceptar",
                                        className: "btn-primary",
                                        callback: function() {
                                            
                                        }
                                    }
                                }
                            });
                          }
                          else{
                                if(data.regs[0].estado=="Pendiente" && data.regs[0].fechaCita>hoy){
                                bootbox.dialog({
                                    message: mensaje,
                                    title: "Información de la cita",
                                    buttons: {

                                    //if(data.regs[0].estado=="Pendiente"){
                                        danger: {
                                            label: "Cancelar cita",
                                            className: "btn-danger",
                                            callback: function() {
                                                var evento = calendario.fullCalendar('clientEvents',startDate.id);
                                                var tituloEvento = "";
                                                var eventoId = 0;
                                                Object.keys(evento).forEach(function (key) {
                                                    tituloEvento = evento[key].title;

                                                    var subTituloEvento = tituloEvento.split(" | ");
                                                    var iconoX = '<div class="fa fa-calendar-times-o"></div> | ';
                                                    //console.log(subTituloEvento);
                                                    var nuevoTitulo = iconoX+subTituloEvento[1];
                                                    evento[key].title = nuevoTitulo;
                                                    $.getJSON(Routing.generate('get_cancelarCita', { id: evento[key].id}), 
                                                    function(data) {
                                                        var mensaje = "";
                                                        if(data.regs==0){
                                                            mensaje += "<div class='row'><div class='col-md-12'><b><p class='text-left'>Actualización exitosa...</p></b></div></div>";
                                                            mensaje += "<hr>";
                                                            mensaje += "<div class='row'><div class='col-md-12'>¡Cita cancelada satisfactoriamente!</div></div>"
                                                            calendario.fullCalendar('updateEvent', evento);
                                                            bootbox.alert(mensaje, function() {

                                                            });
                                                        }
                                                        else{
                                                            mensaje += "<div class='row'><div class='col-md-12'><b><p class='text-left'>Error...</p></b></div></div>";
                                                            mensaje += "<hr>";
                                                            mensaje += "<div class='row'><div class='col-md-12'>¡La cita no pudo cancelarse, intente de nuevo!</div></div>"
                                                            bootbox.alert(mensaje, function() {

                                                            });
                                                        }
                                                    });
                                                });


                                                //console.log('texto de prueba');
                                                //console.log(evento.backgroundColor);
                                                //console.log( JSON.stringify(evento['backgroundColor']) );
                                                //alert(evento.id);
                                                /*alert(evento.title);
                                                alert(evento.allDay);
                                                alert(evento.start);

                                                alert(evento.end);
                                                alert(evento.url);
                                                alert(evento.className);

                                                alert(evento.color);
                                                alert(evento.backgroundColor);
                                                alert(evento.borderColor);
                                                alert(evento.textColor);*/

                                                //calendario.fullCalendar('eventColor','#000');
                                                /*bootbox.alert("uh oh, look out!");*/
                                            }
                                        },
                                    //}
                                        /*success: {
                                            label: "Registrar consulta",
                                            className: "btn-success",
                                            callback: function() {
                                            window.location.href = "../consulta/newconcita?id=C"+data.regs[0].id;

                                            }
                                        },*/
                                        main: {
                                            label: "Aceptar",
                                            className: "btn-primary",
                                            callback: function() {

                                            }
                                        }
                                    }
                                });
                            }
                            else{ 
                              
                                    bootbox.dialog({
                                        message: mensaje,
                                        title: "Información de la cita",
                                        buttons: {
                                        main: {
                                            label: "Aceptar",
                                            className: "btn-primary",
                                            callback: function() {

                                            }
                                        }
                                    }
                                });
                            }
                        }
                          
                            
                            
                          //bootbox.alert(mensaje, function() {
                                //Example.show("Hello world callback");
                          //});
            }); 
           
        },
        
        dayClick: function(date, jsEvent, view) {
            //alert('Clicked on: '+date);
            //fecha=new Date(fecha);
            //alert('Clicked on: '+fecha);
            //alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);

            calendario.fullCalendar( 'changeView', 'agendaDay' );
            calendario.fullCalendar('gotoDate', date);

        },
        
        
        //eventSources: [ source ],
        eventRender: function(event, element) {
            element.find('.fc-event-title').html(element.find('.fc-event-title').text());
        },
        
        eventAfterAllRender: function( view ) {
            calendario.bind('dblclick', function() {
              alert('double click!');
            });
            
        }
        
        

        
    });//FIN DE LA CONFIGURACION DEL CALENDARIO
    calendario.fullCalendar('addEventSource', source); 
    $(document).on('change','#filtroSucursales', function(){
        sucursal = $('#filtroSucursales').val();
        //alert(Routing.generate('fullcalendar_loader')+'?sucursal='+sucursal);
        calendario.fullCalendar('removeEvents');
        var source = 
            {
                url: Routing.generate('fullcalendar_loader')+'?sucursal='+sucursal,
                type: 'POST',
                data: {
                    filtro: 1
                },
                error: function() {
                    bootbox.alert('Se produjo un error al recuperar los datos del calendario, recargue la página!');
                }

            };
        calendario.fullCalendar('addEventSource', source); 
        //alert('dcdsc');

        

    });
    
});//FIN
</script> 
{% endblock %}
