{% spaceless   %}
             
                          
         <div class="row">
           <div class="col-md-12">              
            <div class="panel bg-grd-light" data-fill-color="true">
                <div class="panel-body">
                 {# <div class="pull-left mr-2x"> #}
                      

                         {# <div class="col-md-7"> #}
                              {# <p class="text"><i class=""> Tratamiento </i> </p> #}
                            {{ form_row(form.nombre) }}
                        {#  </div> #}
                         
                        {#  <div class="col-md-12"> #}
                          {#     <p class="text"><i class=""> Sesiones </i> </p> #}
                            {{ form_row(form.descripcion) }}

                            {{ form_row(form.tipoParametro) }}
                            {#   </div>  #}
                            <div class="campos"><button style="margin-top:10px;margin-bottom:10px;" id="masOpcion">Agregar otro</button></div>
                            <div id="opciones"></div>
                {#  </div>  #}
                          
                 <p class="text-center">
                  {# <a href="#" class="btn btn-sm btn-danger">Borrar</a> #}
                  </p>         
  
                </div><!-- /.panel-body -->
              </div><!-- /.panel -->        
                          
            </div>
          </div>                
             
{% endspaceless   %}