<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style type="text/css"></style>
{% block head %}
<style>
table {
    border-collapse: collapse;
}

table, td, th {
    /*border: 1px solid black;*/
}
</style>
{% endblock%}
</head>
 
<body bgcolor="#FFFFFF">
<!-- HEADER -->
<table  width="100%">
    <tr>
        <td></td>
        <td class="header container" >
        <div class="content">
            <table width="100%">
                <tr>
                <td><img src="" /></td>
                <td ><h3>Pluss Belle</h3></td>
                </tr>
            </table>
        </div>
        </td>
        <td></td>
    </tr>
</table><!-- /HEADER -->
<!-- BODY -->
<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" bgcolor="#FFFFFF">
            <div class="content">
            {% block contenido %}{% endblock %}
            </div><!-- /content -->
        </td>
        <td></td>
    </tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
    <tr>
        <td></td>
        <td class="container">
        <br/><br/>
        Atentamente,<br/><br/>
        Equipo de soporte técnico<br/>
        </td>
        <td></td>
    </tr>
</table><!-- /FOOTER -->
</body>
</html>