{% extends 'DGPlusbelleBundle:Layout:general.html.twig' %}


{% block contenido -%}
    <h3 class="modal-title" id="myModalLabel">Registrar consulta</h3>
    
    <br>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_consulta') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
