{% extends 'DGPlusbelleBundle:Layout:layout.html.twig' %}
{% block css %}
    {{parent()}}
    <style>
        .detallePaciente{
            cursor: pointer;
            color: #48CFAD;
        }
    </style>
    
        <link rel="stylesheet" href="{{asset('Resources/datatables/serversideprocessing.css')}}" />
    
{% endblock %}
{% block contenido -%}


        <div class="content-body">
          <div class="panel" data-fill-color="true">
            <div class="panel-heading">
              <div class="panel-control pull-right">
                <a href="#" class="btn btn-icon" data-toggle="panel-refresh" rel="tooltip" data-placement="bottom" title="refresh"><i class="icon-refresh"></i></a>
                <a href="#" class="btn btn-icon" data-toggle="panel-expand" rel="tooltip" data-placement="bottom" title="expand"><i class="arrow_expand"></i></a>
                <a href="#" class="btn btn-icon" data-toggle="panel-collapse" rel="tooltip" data-placement="bottom" title="collapse"><i class="icon_minus_alt2"></i></a>
              </div>
              <h3 class="panel-title">Consultas de estetica de pacientes</h3>
            </div><!-- /.panel-heading -->

            <div class="panel-body">
              <div class="btn-toolbar clearfix" role="toolbar">
               <div class="btn-group pull-left">
                  <input id="filterDatatables1" class="form-control input-sm" placeholder="Buscar...">
                </div>
              </div><!-- /btn-toolbar -->
            </div><!-- /.panel-body -->
            
            <div class="panel-body hide" id="editFormContainer"></div>
            <div class="panel-body hide" id="opcionesFormContainer"></div>
            
            <table id = "datatables1" class="table table-bordered table-hover display dt-responsive" style="margin-top: 30px">
                <thead>
                    <tr>
                        <th class="text-center">Fecha de consulta</th>
                        <th class="text-center">Paciente</th>
                        <th class="text-center">Tratamiento</th>
                        <th class="text-center">Tipo de consulta</th>
                        <th class="text-center">Sucursal</th>
                        <th class="text-center">Costo ($)</th>
                        <th class="text-center">Consulta de estetica</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>        
            </table>
        </div><!-- /.panel -->    
    </div><!-- /.content -->
   {% endblock %}
       
  {% block javascripts_step %}
        <script>
            $(document).ready(function(){
                var idPaciente = 0;

                //Exportar a pdf 
                $(document).on('click','.infoPaciente', function(event) {
                    var idcon = $(this).attr('id');
                    var estetica = 0;
                    
                    $.ajax({
                        url:"{{path('busqueda_estetica_pdf')}}",
                        type: "POST",
                        data:"idcon="+$(this).attr('id'),
                        success: function(respuesta){
                            var corporal = [];
                            
                            // Se obtiene el id del paciente
                            var paciente = respuesta.data['paciente'];

                            // Se obtiene el id de la sucursal 
                            var sucursal = respuesta.data['sucursal'];

                            // Se obtiene el tipo de consulta de estetica del registro seleccionado
                            var tipo_estetica = respuesta.data['estetica'];
                            
                            // Si el tipo de consulta es corporal
                            if(tipo_estetica == 'Corporal') {
                                corporal.push(respuesta.corporal[0]['peso']);
                                corporal.push(respuesta.corporal[0]['grasa_corporal']);
                                corporal.push(respuesta.corporal[0]['agua_corporal']);
                                corporal.push(respuesta.corporal[0]['masa_musculo']);
                                corporal.push(respuesta.corporal[0]['valoracion_fisica']);
                                corporal.push(respuesta.corporal[0]['dci_bmr']);
                                corporal.push(respuesta.corporal[0]['edad_metabolica']);
                                corporal.push(respuesta.corporal[0]['masa_osea']);
                                corporal.push(respuesta.corporal[0]['grasa_visceral']);
                                estetica = 1;
                                
                                var url = Routing.generate('admin_prevpdfcorporal_por_pdf', { paciente:paciente, sucursal: sucursal, estetica: estetica, valores: respuesta.valores, corporal: corporal});
                                window.open(url);
                            } 
                            // Si el tipo de consulta es facial
                            else if(tipo_estetica == 'Facial') {
                                estetica = 2;
                                
                                var url = Routing.generate('admin_prevpdf_facial_por_pdf', { paciente: paciente, sucursal: sucursal, valores: respuesta.valores, estetica: estetica});
                                window.open(url);
                            }
                            // Si el tipo de consulta es de Botox
                            else if(tipo_estetica == 'Botox') {
                                estetica = 3;
                                //console.log(respuesta.botox);
                                var url = Routing.generate('admin_pdf_botox_por_pdf', { paciente: paciente, sucursal: sucursal, valores: respuesta.valores, estetica: estetica, botox: respuesta.botox});
                                window.open(url);
                            }
                        }
                    });
                });
                
                $('#filterDatatables1').on('keyup', function(event) {
                    var filtro = $(this).val(); 
                
                    $('#datatables1_filter>label>input').val($(this).val());
                    $('#datatables1_filter>label>input').keyup();

                });
                
                $('#datatables1').DataTable({ 
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": '{{path('admin_consultas_paciente_data')}}',
                        "type": 'GET'
                    },
                    "columns": [
                        { "data": "fechaConsulta" },
                        { "data": "paciente" },   
                        { "data": "tratamiento" },   
                        { "data": "tipo" },                       
                        { "data": "sucursal" },
                        { "data": "costo" },
                        { "data": "estetica" },
                        { "data": "link" }
                    ],
                    "columnDefs": [
                           { "orderable": false, "targets": 0 },
                           { "orderable": false, "targets": 2 },
                           { "orderable": false, "targets": 3 },
                           { "orderable": false, "targets": 4 }
                    ],
                    "language": {
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "",
                    "emptyTable": "No se encontraron registros",
                    "paginate": { 
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                    "processing": "Procesando petición...",
                    "search": "Buscar registros:",
                    "lengthMenu": "Mostrar _MENU_ registros"
                },                     
        });
        
        //Oculta el filtro de la tabla
        $('#datatables1_filter').hide();
        $('#filterDatatables1').val('');
        
           //validarPaciente();          
    });//Fin document ready
        
    //Definición de funciones
    function limpiarCampos(){
        //Limpiar los campos de tipo text
        $("#add-datatables1 input[type=text]").each(function(index, val) {
            $(this).val("");
        });
        //Seleccionar el primer elemento de los dropdown
        $('add-datatables1 select option').each( function(index, val) {
            if(index == 0){
                $(this).attr("selected","selected");
            }
            else{
                $(this).removeAttr("selected");
            }
            
         
	});             
    };
    
        </script>

    {% endblock %} 
